.app-body {
	margin: 80px;
}

.nav-styles {
	background-color: #3a4b5a;
}

.nav-styles a {
	color: white;
}

.nav-link.active {
	color: #e64758 !important;
}

.dropdown-menu {
	background-color: #3a4b5a;
}

.dropdown-item {
	color: white;
}

.dropdown-links a:hover {
	color: #3a4b5a;
}

.btn-outline-primary {
	color: white;
	border: none;
}


